/* h1{
    color: white;
    text-align: center;
    font-weight:900;
}
  */
  
  center {
    text-align:right;
    border: 3px solid rgb(225, 233, 225);
  }
 #clear{
	 margin-right:40px;
	 text-overflow: inherit;
	 margin: 10px auto;
	 min-width: 40px;
	 max-width: 75%;
	 background-color: silver;
  }
 * {
	box-sizing: border-box;
  }
body{
	background-color: rgb(47, 191, 235);
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
.completed{
	margin-bottom:10px;
	padding:12px 15px ;
}
.section4{
	padding:12px 15px ;
	margin-bottom:10px;
}
p{
	margin-block-start: 100px;
	margin-bottom:0px;
	text-align: inherit;
	text-decoration: solid;
	/* text-decoration: underline; */
	font-size: 25;
	font-weight: bold;
	color: #fafafa;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	
}
hr{
	width: 40%;  
	height: 2px;  
	background-color:white;
	margin-bottom: 7px;  
	margin-right: auto;  
	margin-left: auto;  
	margin-top: 9px;  
	border-width: 4px;  
	border-color:whitesmoke;
}  
.intro {
	margin: 30px 0px;
	font-weight: bold;
}
.btn btn-default btn-lg{
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
.intro col-12{
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
#clear{
	border:2px;
	padding: 12px 15px;
	border-radius: 5px;
	color: #04A1BF;
	background-color: #025F70;
	transition: all 0.75s ease;
	-webkit-transition: all 0.90s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
    font-weight: normal;
	font-size: larger;
	text-align-last: inherit;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	margin-block-start: 80px;
	margin-bottom:0px;
	text-align: inherit;
	text-decoration: solid;
	float:inherit;
	/* text-decoration: underline; */
	font-size: 25;
	font-weight: bold;
	color: #fafafa;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
  #add {
	border: none;
	padding: 12px 15px;
	border-radius: 5px;
	color: #e3eff1;
	background-color: #025F70;
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
    font-weight: normal;
	font-size: larger;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

#add:hover{
	background-color: #02798F;
	color: #aa8638;
}

ul {
	text-align: left;
	margin-top: 20px;
	vertical-align: sub;
	width: 55%;
}


li {
	list-style: none;
	padding: 12px 20px;
	color: #ffffff;
cursor:pointer;
position:relative;
	text-transform: capitalize;
    font-weight: 600;
    font-size: large;
	border: 2px solid #025f70;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #4EB9CD;
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
	font-family: 'M PLUS Rounded 1c', sans-serif
}

li:hover {
	background: #0e4652;
	border-radius: 20px;
	border-style: gr;
}

li > button {
	font-weight:bolder;
	font-size: 20px;
	background:none;
	border: none;
	float:right;
	color: #c8dbdf;
	padding-left: 20px;
	text-align:center;
	width: fit-content;
	text-justify:auto;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 12px;
	padding-left:12px;
}
 li>button:hover{
	 background-color:#db1478;
	 text-align: center;
	 border-radius: 20px;
	border-style: gr;
	 
 }
input {
	border-radius: 5px;
	min-width:15%;
	padding: 12px;
	border: none;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
