h1{
    color: white;
    text-align: center;
    font-weight:900;
}
 
center {
    text-align:right;
    border: 3px solid rgb(225, 233, 225);
  }

body{
    background-color: rgb(47, 191, 235);
}

.intro {
	margin: 30px 0px;
	font-weight: bold;
}
#hl1 {
	margin-top: 10px;
	color: #FFCD5D;
	font-size: large;
}

#hl2 {
	color: greenyellow;
	font-size: large;
}

#hl3{
	color: #04404b;
	margin-bottom: 30px;
	font-size: large;
}

  #add {
	border: none;
	padding: 12px 15px;
	border-radius: 5px;
	color: #04A1BF;
	background-color: #025F70;
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
    font-weight: normal;
    font-size: larger;
}

#add:hover{
	background-color: #02798F;
	color: #FFCD5D;
}

ul {
	text-align: left;
	margin-top: 20px;
}


li {
	list-style: none;
	padding: 12px 20px;
	color: #ffffff;
	text-transform: capitalize;
    font-weight: 600;
    font-size: large;
	border: 2px solid #025f70;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #4EB9CD;
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
}

li:hover {
	background: #76CFE0;
}

li > button {
	font-weight:normal;
	background: none;
	border: none;
	float: right;
	color: #025f70;
	
}
input {
	border-radius: 5px;
	min-width: 75%;
	padding: 12px;
	border: none;
}
